@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap');

.open-sans {font-family: 'Open Sans', sans-serif; font-weight: 400}

.roboto {font-family: 'Roboto', sans-serif; font-weight: 400; }

.roboto-medium {font-family: 'Roboto Mono', sans-serif; font-weight: 500; }


body {
    scroll-behavior: smooth;
}

.white-bg {
    background-color: #FFFFFF;
}

.primary-color {
    color: #95D2EC;
}
.primary-color-light {
   color: #000000;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ff42427b;
  }

.primary-color-bg {
    background-color: #95D2EC;
}
.primary-color-light-bg {
   background-color: #95D2EC;
}
.secondary-color, nav .secondary-color-light:hover {
    color: #FF4242,;
}
.secondary-color-light {
    color: #FF4242,;
}
.secondary-color-bg {
    background-color: #95d2ecd8;
}
.secondary-color-light-bg {
    background-color: #ffffff;
}
.footer-color-bg{
    background-color: #FFFFFF;
}
/* Remove owl-nav previous and next buttons*/
.owl-nav {
    display: none;
}

.section-divider {
    padding: 1rem;
}