<h1>Welcome to Miami</h1>
<img class ="img-fluid" src="/img/miami2.jpg">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum beatae illo inventore ipsa, harum doloremque odio tempore blanditiis adipisci temporibus commodi corporis vero consequuntur praesentium nisi quaerat voluptate, consequatur cumque?</p>